:root{
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
body{
  background: var(--Light-Grayish-Blue);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Manrope', sans-serif;
  font-size: 13px;
}
h1{
  color:var(--Desaturated-Dark-Blue );
}
.wrapper{
  display: grid;
  grid-template-rows: 100vh 1fr;
  align-items: center;
  justify-content: center;
  
 
}
.card{
   
  display:inline-grid;
  max-width: 800px;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 30px;
  background-color: white;
  border-radius: 10px;
  justify-items: center;
  

}
.text-ar{
  padding: 10px 22px;
}
.text-ar h1 {
   color: var(--Desaturated-Dark-Blue);
 }
.text-ar p{
  color: var(--Grayish-Blue);
} 

.image-banner{
  height: 300px ;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.share{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  
}
.share img{
    height: 45px;
    border-radius: 50%;
}
.favicon-text{
  display: inline-flex;
  margin-top: 5px;
}
.favicon-text h4 span{
  display: flex;
  margin-left: 15px;
  margin-top: -15px;
  color: var(--Very-Dark-Grayish-Blue);
}
.favicon-text p span{
  display: flex;
  margin-left: 15px;
  margin-top: -15px;
  color: var(--Grayish-Blue);
}
.favicon-main{
  border: 5px solid red;
  width: 55px;
  height: 120px;
}
#share{
  border: 1px solid transparent;
  border-radius: 50%;
  width: fit-content;
  
}